div {
    padding: 1px;
}

div.head {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

div.work_area {
    text-align: center;
}

label.question {
    font-size: 32;
    font-family: Arial, Helvetica, sans-serif;
}

input.answer {
    font-size: 32;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}