div {
	table-layout: fixed; 
	margin: 0px;
	padding: 10px;
	font-family: arial;
	background-color: rgba(0, 0, 0, 0.3);	
	color: white;
	overflow: hidden;
}

div.left {
	width: 48.5%;
	float:left;
}

div.right {
	width: 48.5%;
	float: right;
	display: grid;
	column-width: 1px;
	border: 1px solid white;
}

b {
	font-family: arial;
	font-size: 36;
	color: white;
	text-align: center;
	margin: 0; 
	padding: 5;
	font-variant: small-caps;
	font-weight: bold;
}

input {
	position: absolute;
	left: 17.5%;
	width: 31%;
	height: 36px;
	border: 1px;
	margin: 0px;
	text-align: center;
	font-size: 36;
	font-weight: bold;
	font-family: Courier;
	vertical-align: middle;
	background-color: 000000;
	color: FFFFFF;
	margin-top: 4px;
}

b.var-text {
	position: relative;
	grid-column-start: 1;
	gird-column-end: 2;
	column-width: 1px;
}

b.result-text{
	position: relative;
	grid-column-start: 2;
	gird-column-end: 3;
	column-width: 1px;
